@charset "utf-8";
/* CSS Document */


.body
{
	margin:0px;
	font-size:12px; 
	font-family:'微软雅黑',Tahoma, Geneva, sans-serif;
	text-align:center; 
	background:#fff; 
	color:#666;
}
.h2 a{ font-family:'微软雅黑'; font-size:16px; text-align:left; color:#999;}
.h2 a:hover{ color:#89c935;}


div a
{
	color:#666;
	text-decoration:none;
}

div a:hover
{
	text-decoration:none;
}
img 
{ 
	display:block;
 	border:none ;
}
ul
{ 
	list-style:none;
}

li a
{
	float:left;
	overflow:hidden;
	text-align:center;
	list-style:none;
}
.clear
 { 
 	clear:both; 
 	width:100%; 
 	height:0; 
 	display:block;
 }
div
{
	font-family: "微软雅黑";
}
.page
{
	width:720px;
	height:-20px;
	margin:auto;
	overflow:hidden;
	margin-bottom:20px;
}
.left-bk
{
	width:15px;
	height:50px;
	float:left;
	z-index:9999;
	position:relative;
	left:-14px;
	background-image:url(../../images/leftbk.jpg);
	}
.left-bkk
{
	width:15px;
	height:50px;
	float:left;
	z-index:9999;
	position:relative;
	left:-14px;
	background-image: url(../../images/leftbkg.jpg);
	}
.page
{
	width:100%;
	margin:auto;
	overflow:hidden;
	margin-bottom:20px;
	text-align:center;
}
#huifu:target
{
	display:block;
	width:95%;
	height:120px;
	margin:auto;
	overflow:hidden; 
}
.huifu-nr
{
	display:none;
	margin:auto;
	overflow:hidden;
	/*height:80px;*/
	margin-bottom:20px;
}
.huifu-wb
{
	width:585px;
	height:60px;
	padding:10px;
	word-break:break-all; 
	-webkit-word-break:break-all; 
	-ms-word-break:break-all; 
	-moz-word-break:break-all; 
	-o-word-break:break-all; 
	border:1px solid #ccc;
	font-size:14px;
	color:#333;
	line-height:25px;
	
}
#huifu01:target
{
	display:block;
	width:608px;
	height:120px;
	margin:auto;
	overflow:hidden; 
}
.huifu-nr01
{
	display:none;
	margin:auto;
	overflow:hidden;
	/*height:80px;*/
	margin-bottom:20px;
}
.huifu-wb01
{
	width:585px;
	height:60px;
	padding:10px;
	word-break:break-all; 
	-webkit-word-break:break-all; 
	-ms-word-break:break-all; 
	-moz-word-break:break-all; 
	-o-word-break:break-all; 
	border:1px solid #ccc;
	font-size:14px;
	color:#333;
	line-height:25px;
	
}

/**************************************清除浮动*************************************************/
.clearfix:after { content:' '; display:block; height:0; overflow:hidden; clear:both;}
.clearfix { zoom:1;}
.fl { float:left; display:inline;}
.fr { float:right; display:inline;}
.zwtz
{
	width:90%;
	margin:auto;
	overflow:hidden;
	border-bottom:20px;

}
.zwtz-pic
{
	width:80px;
	height:80px;
	float:left;
	margin-left:100px;
	background-image:url(../../images/wtz.jpg);
}
.zwtz-text
{
	float:left;
	margin-top:25px;
	width:400px;
	height:30px;
	overflow:hidden;
	border:1px solid #89c935;
	background-color:#f5f5f5;
	border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow: 2px 2px 2px  #666;
	-ms-box-shadow: 2px 2px 2px  #666;
	-o-box-shadow: 2px 2px 2px  #666;
	-webkit-box-shadow: 2px 2px 2px  #666;
	text-align:center;
	line-height:30px;
	color:#333;
	

}
.pl-lf-fl-green
{
	margin:8px;
	height:20px;
	width:5px;
	float:left;
	overflow:hidden;
	background-color:#89c935;
}

/***2015-07-07 16:52:20***/
.xgmm-wk{float:left; font-size:14px; line-height:30px;}
.xgmm-wk01{float:left; margin-left:10px;}
.xgmm-tj{ margin-left:88px; float:left;}
.xgmm-wbk
{ width:300px; height:35px; border:1px solid #ccc; background-color:#f5f5f5; padding-left:3px;}
.xgmm-wbk01
{ width:300px; height:35px; border:1px solid #ccc;  padding-left:3px;}


/**2015-07-09 09:43:25*/
.w100{ width:100%; overflow:hidden;}
.f0{float:left; margin-right:10px;}
.font a{
	font-size: 16px;
	color: #333;
	font-weight: 2px;
}
.font a:hover{
	color: #89c935;
}

/*加精置顶*/
.zd{width:14px; height:14px; margin-top:5px; background-image:url(../../images/zd.png);}
.jj{width:14px; height:14px; margin-top:5px; background-image:url(../../images/jj.png);}
