@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
}
body {
	font-size: 12px;
	font-family: '微软雅黑', Tahoma, Geneva, sans-serif;
	text-align: center;
	background: #fff;
	color: #666;
}
a { text-decoration:none; outline:none; color:#666;}
a:hover { color:#89c935;}
img { display:inline-block; border:none;}
ul { list-style:none;}
input { outline:0; cursor:pointer; vertical-align:middle; overflow:visible;/*解决ie6、7的换行和padding增加问题*/ vertical-align:middle; _vertical-align:bottom;/*ie6*/ font-family:'微软雅黑', Tahoma, Geneva, sans-serif;}
input[type=text], input[type=button] { -webkit-appearance: none;/*safari浏览器重置*/ border:0;}
.container {
	width: 990px;
	text-align: left;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.clear { clear:both; width:100%; height:0; display:block;}
/*整体定义*/
.h2 a{ font-family:'微软雅黑'; font-size:16px; text-align:left; color:#999;}
.h2 a:hover{ color:#89c935;}



.header { padding-top:32px; _padding-top:0;}
.shlt-left
{
	width:400px;
	float:left;
	overflow:hidden;
}
.shlt-left-btext
{
	width:100%;
	font-size:36px;
	line-height:50px;
	text-align:left;
	color: #e52f24;
	font-weight: bold;
}
.shlt-left-stext
{
	width:100%;
	font-size:19px;
	line-height:25px;
	margin-top:10px;
	color: #e52f24;
	font-weight: bold;
}
.search-right
{

	width:550px;
	height:110px;
	float:right;
	overflow:hidden;
	color:#red;
}

.search {
	float: left;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	/* [disabled]margin-left: 105px; */
}
.search div { background:#89c934; width:535px; border-radius:3px;}
.search input { border:0;}
.search .input1 { background:#fff; font-size:12px; color:#c1c1c1; padding:6px 0 8px 7px; margin:3px; +margin:2px 3px; width:450px;}
.search .input2 { font-size:16px; background:url(../images/search.png) no-repeat; padding-left:20px; line-height:18px; line-height:30px;/*考虑ie6*/ background-position:left center; vertical-align:middle; color:#fff; font-weight:600;}
.search a { color:#bababa; padding-left:10px; line-height:22px;}
.search a:hover { color:#89c935;}

.search-logo{
	/* [disabled]margin-top: 20px; */
	float: left;
	overflow: hidden;
	display: block;
	width: 535px;
	text-align: right;
}
.search-logopic{
	/* [disabled]margin-top: 20px; */
	float: right;
	overflow: hidden;
}

.select{
	
	padding-left:5px;
	width:80px;
	height:26px;
	overflow:hidden;
	background: #fff;
	line-height:25px;
	border:1px solid #ccc;
	margin-top: 2px;	
}

.search option
{
	height:25px;
}
.select-nr{width:355px; height:24px; font-size:14px; padding-left: 5px;margin-bottom: 2px;}


.nav { background:url(../images/nav-bg.png); margin-top:17px; color:#fff;}/*主菜单*/
.nav a { color:#fff;}
.nav-ul a { border-left:1px solid #fff; border-top:4px solid #fff; border-bottom:4px solid #fff; display:block; width:96px; text-align:center; line-height:59px; font-size:16px; font-weight:600;}
.nav-ul a:hover, .nav-ul .ahover { border-top:4px solid #d0df00; border-bottom:4px solid #d0df00; background:#f5f5f5 url(../images/nav-hover.png) no-repeat 45px 0px; color:#303030;}
.nav-ul .a1 { border-right:1px solid #fff; z-index:99;}
.shangquan { padding-top:12px; width:600px;}
.shangquan p { margin:3px 0 0 45px; line-height:16px; font-size:14px; font-weight:600;}
.shangquan ul { width:380px;}
.shangquan a { display:block; margin:3px 10px 0 10px; line-height:16px; font-size:12px;}
.shangquan a:hover { color:#d0df00;}
.shangquan .a-input { background:#d0df00; color:#fff; padding:9px; font-size:16px; line-height:16px; border:0; border-radius:3px; margin:3px 0 0 10px;}
.shangquan .a-input:hover { color:#fff;}
/*脚注*/

/**************************************清除浮动*************************************************/
.clearfix:after { content:' '; display:block; height:0; overflow:hidden; clear:both;}
.clearfix { zoom:1;}

.fl { float:left; display:inline;}
.fr { float:right; display:inline;}


.clearBoth{clear: both;}