@charset "utf-8";
/* CSS Document */
/*整体定义*/
*{
	margin:auto;
	padding:0;
	border:0;
	} 
body { font-size:12px; font-family:'微软雅黑', Tahoma, Geneva, sans-serif; background:#fff; color:#666;}
a { text-decoration:none; outline:none; color:#666;}
img {
	display: inline-block;
	border: none;
}
ul { list-style:none;}
/*具体菜单定义*/
.nav{width:100%; height:67px; margin:auto; margin-bottom:10px; background-color:#89c935;}
.nav-top-right .li1, .hot li, .footer-about div, .nav-top-right-ewm img, .nav-top-right-ewm div, .nav-ul, .nav-top-left ul li { float:left; display:inline;}
.top { width:990px; height:67px; background:#89c935; margin:auto;z-index:99; }
.top-left{ width:500px; height:67px; float:left;}
.nav-top-left .li1 { float:left;  width:95px; position:relative; border-right:1px solid #fff; }
#nav-li1-leftk { width:95px; border-left:1px solid #fff;}
.nav-top-left a { float:left; width:95px; overflow: hidden; font-size:16px; color:#fff; text-align:center; line-height:67px;font-weight: bold;  }
.top .a4 { display:inline-block;}
.top .a4:hover, .top .a3:hover, .top .ahover { width:95px; background-image:url(../../images/nav-bg.png); color:#333; font-weight:bold;}
.top li .a4:hover, .top li .a3:hover { color:#333; }
.top .a4 span { width:95px; display:inline-block; height:28px; vertical-align:middle;}
.nav-top-left .li1 ul { background:#fff; border:1px solid #ccc; width:95px; border-top:0; position:absolute; top:67px; display:none; left:0; z-index: 10000;}
.nav-top-left .li1 ul a {width:95px; height:40px; border-bottom:1px solid #ccc; line-height:40px;font-size:16px; color:#666;}
.nav-top-left .li1 ul a:hover { background-color:#89c935; font-size:16px; color:#fff;}
/*右边个人信息*/
.top-right
{
	width:490px;
	float:left;
	overflow:hidden;
	padding-top:21px;
}
.login-hy
{
	float:left;
	font-size:14px;
	line-height:25px;
	color:#fff;
	margin-left:5px;
	
}
.login-hy a
{
	color:#fff;
}
.login-hy a:hover
{
	color:#fff;
	text-decoration: underline;
}
.login
{
	float:left;
	background-color:#fff;
	padding-left:5px;
	padding-right:5px;
	font-size:14px;
	line-height:25px;
	color:#999;
	margin-right:5px;
}
.login a
{
	color:#89c935;
}
.login a:hover
{
	color:#ff9900;
}
.login-tellhot
{
	float:right;
	overflow:hidden;
	background-color: #fff;
	padding-left:5px;
	padding-right:5px;
	font-size:14px;
	text-align:center;
	line-height:25px;
	color:#89c935;
	width: 220px;
}
