<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="KdRstinfoBiz" class="com.deepblue.kuaiding.biz.KdRstinfoBiz">
		<property name="kdRstinfoDAO">
			<ref bean="KdRstinfoDAO" />
		</property>
	</bean>
	
	<bean id="KdMenuBiz" class="com.deepblue.kuaiding.biz.KdMenuBiz">
		<property name="kdMenuDAO">
			<ref bean="KdMenuDAO" />
		</property>
	</bean>
	
	<bean id="KdTypeBiz" class="com.deepblue.kuaiding.biz.KdTypeBiz">
		<property name="kdTypeDAO">
			<ref bean="KdTypeDAO" />
		</property>
	</bean>
	
	<bean id="KdEvaluationBiz" class="com.deepblue.kuaiding.biz.KdEvaluationBiz">
		<property name="kdEvaluationDAO">
			<ref bean="KdEvaluationDAO" />
		</property>
	</bean>
	
	<bean id="KdMessageBiz" class="com.deepblue.kuaiding.biz.KdMessageBiz">
		<property name="kdMessageDAO">
			<ref bean="KdMessageDAO" />
		</property>
	</bean>
	
	<bean id="KdTableBiz" class="com.deepblue.kuaiding.biz.KdTableBiz">
		<property name="kdTableDAO">
			<ref bean="KdTableDAO" />
		</property>
	</bean>
	
</beans>