@charset "utf-8";
/* CSS Document */
.header .container, .shangquan, shangquan ul, .booking-nav ul, .booking-main, h3, .booking-bottom { overflow:hidden; zoom:1;/*ie6*/}
.logo, .search, .nav-ul, .shangquan, .nav li, .shangquan ul, .shangquan p, .booking-nav li, .booking-main li, .booking-bottom li { float:left; display:inline;}
.order, .shangquan input, .booking-main h3 a, .booking-bottom ul { float:right; display:inline;}

.booking { margin-top:16px;}
.booking-nav { color:#636363; line-height:25px; padding:12px; background:#f5f5f5;}
.booking-nav li { margin:3px;}
.booking-nav .li1 { font-size:14px; font-weight:600;}
.booking-nav .li1 span { padding:0 6px;}
.booking-nav a { font-weight:600; color:#636363; display:block; padding:0 6px;word-break:keep-all; }
.booking-nav a:hover, .booking-nav .ahover { background:#89c935; color:#fff;}
.booking-main { margin-top:20px; width:1200px; min-height: 600px;}
.booking-main li { border:1px solid #dbdbdb; width:298px;}
.booking-main li:hover h3{color:#89c935;}
.booking-main li:hover{cursor:pointer;}
.booking-main h3 { width:100px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis; font-size:16px;/* padding:20px 12px;padding:20px 12px 15px;*/padding:14px 0px;/*2015-3-24修改*/ line-height:26px;}
.rstpic { width:70px; height:70px;padding:25px;}
.main_left h5{padding:0 0 20px 30px;}
.main_right { float:right; margin:-150px 40px 0 0;}
.main_right img{ float:left;}
.main_right h5{margin:5px 0 8px 0;}
.main_right p img{margin:3px;}

.table { font-size:14px; color:#636363;}
.nav-bar { margin:15px 0; line-height:26px; font-weight:600;}
.table-search { height:50px; background:#f5f5f5; line-height:50px;}
.table-search span { font-size:18px; line-height:20px; padding-left:5px;}
.table-search input { border:1px solid #9ede4c; padding-left:5px; height:24px; line-height:24px; margin-top:-2px;}
.table-search .input1 { width:260px; background:#fff url(../images/date1.png) no-repeat 240px;}
.table-search .select { display:inline-block; border:1px solid #9ede4c; height:24px; line-height:24px; background:#fff; +display:inline;}
.table-search select { width:175px; padding:3px 0 3px 3px; font-size:12px; border:0; height:24px; line-height:24px; +font-family:Trebuchet MS;}
.table-search .input3 { width:320px; background:#fff url(../images/rd.png) no-repeat 300px;}
.table-search .input4 { width:50px; color:#fff; background:#9ede4c; margin-left:5px;}

.nothing { text-align:center; font-size:22px; font-weight:600; margin-top:100px;display: none;}
.nothing img { display:inline; vertical-align:middle; margin-right:15px;}

/*2015-3-24修改*/
.booking-main li:hover { border-color:#89c935; position:relative; box-shadow:-1px 2px 2px #ccc;}
.booking-main li .tag { height:30px; line-height:30px; padding-left:3px;}
.booking-main li .tag img { margin:5px 0 0 8px; width:22px; height:22px;}
.hover-info { display:none; position:absolute; left:303px; top:0; border:1px solid #89c935; width:250px; padding:20px; background:#fff; box-shadow:1px 2px 2px #ccc, -2px 2px 2px #ccc; font-size:14px;}
.dianming { font-size:18px;}
.tag-info { border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb; padding:15px 0; margin:25px 0 20px; color:#939393;}
.tag-info>div { margin:11px 0;}
.tag-info div img { margin-right:5px; width:22px; height:22px;}
.tag-info p { line-height:22px; width:210px;}
.hover-info .djgg { color:#939393; line-height:20px; margin-top:5px; font-size:12px;}
.hover-bg { width:13px; height:28px; background:url(../images/li-hover.png) no-repeat; position:absolute; left:-13px; top:20px;}
.booking-main li.li-right .hover-info { left:-304px;}
.booking-main li.li-right .hover-bg { left:290px; background-image:url(../images/li-hover1.png);}
.booking-main .img-bg { width:289px; height:176px; background:#000; filter:alpha(opacity=20); opacity:0.2; position:absolute; left:0; top:0; display:none;}
.booking-main li:hover .hover-info, .booking-main li:hover .img-bg { display:block;}
