<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="HomeAction" class="com.deepblue.kuaiding.action.HomeAction" scope="prototype">
		<property name="kdRestaurantBiz">
			<ref bean="KdRestaurantBiz" />
		</property>
	</bean>
	
	<bean id="YdAction" class="com.deepblue.kuaiding.action.YdAction" scope="prototype">
		<property name="kdRestaurantBiz">
			<ref bean="KdRestaurantBiz" />
		</property>
	</bean>
	<bean id="WmAction" class="com.deepblue.kuaiding.action.WmAction" scope="prototype">

	</bean>
	<bean id="CouponsAction" class="com.deepblue.kuaiding.action.CouponsAction" scope="prototype">

	</bean>
</beans>