<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="HomeAction" class="com.deepblue.kuaiding.action.HomeAction" scope="prototype">
		<property name="kdRstinfoBiz">
			<ref bean="KdRstinfoBiz" />
		</property>
	</bean>
	
	<bean id="YdAction" class="com.deepblue.kuaiding.action.YdAction" scope="prototype">
		<property name="kdRstinfoBiz">
			<ref bean="KdRstinfoBiz" />
		</property>
	</bean>
	<bean id="DzAction" class="com.deepblue.kuaiding.action.DzAction" scope="prototype">

	</bean>
	<bean id="CouponsAction" class="com.deepblue.kuaiding.action.CouponsAction" scope="prototype">

	</bean>
	<bean id="Rest1Action" class="com.deepblue.kuaiding.action.Rest1Action" scope="prototype">
		<property name="kdMenuBiz">
			<ref bean="KdMenuBiz" />
		</property>
		<property name="kdTypeBiz">
			<ref bean="KdTypeBiz" />
		</property>
		<property name="kdEvaluationBiz">
			<ref bean="KdEvaluationBiz" />
		</property>
		<property name="kdMessageBiz">
			<ref bean="KdMessageBiz" />
		</property>
	</bean>
	<bean id="GwcAction" class="com.deepblue.kuaiding.action.GwcAction" scope="prototype">

	</bean>
	<bean id="OrderAction" class="com.deepblue.kuaiding.action.OrderAction" scope="prototype">

	</bean>
	<bean id="OrderListAction" class="com.deepblue.kuaiding.action.OrderListAction" scope="prototype">

	</bean>
	<bean id="Rest1DZAction" class="com.deepblue.kuaiding.action.Rest1DZAction" scope="prototype">
		<property name="kdTableBiz">
			<ref bean="KdTableBiz" />
		</property>
	</bean>
	<bean id="Rest1TotalAction" class="com.deepblue.kuaiding.action.Rest1TotalAction" scope="prototype">
		<property name="kdRstinfoBiz">
			<ref bean="KdRstinfoBiz" />
		</property>
	</bean>
	<bean id="MydzAction" class="com.deepblue.kuaiding.action.MydzAction" scope="prototype">

	</bean>
	<bean id="MyorderAction" class="com.deepblue.kuaiding.action.MyorderAction" scope="prototype">

	</bean>
	<bean id="MydzListAction" class="com.deepblue.kuaiding.action.MydzListAction" scope="prototype">

	</bean>
</beans>