@charset "utf-8";
/* CSS Document */

.w120 { width:120px;}
.b { border:1px solid #dbdbdb;}

.cateTempt_banner { height:260px; width:680px; overflow:hidden;}
.ct_b_div { border:1px solid #fff;}
.ct_b_name, .ct_b_bg { position:absolute; bottom:0; left:0; height:35px; width:100%; text-align:center; line-height:35px; color:#fff; font-size:14px;  visibility:hidden;}
.ct_b_bg { filter:alpha(opacity=40); opacity:0.4; background:#000;}
.ct_b_div:hover .ct_b_name, .ct_b_div:hover .ct_b_bg { visibility:visible;}
.ct_b_img1 { width:243px; height:260px;}
.ct_b_img2 { width:209px; height:129px;}
.ct_b_img3 { width:214px; height:260px;}

.ct_m_head { border-bottom:1px solid #9add45;}
.ct_m_head a { display:inline-block; color:#9add45; height:40px; line-height:40px; padding:0 10px; font-size:17px; text-decoration:none;}
.ct_m_head a:hover, .ct_m_head a.ahover { background:#9add45; color:#fff; border-top-right-radius:5px; border-top-left-radius:5px;}
.ct_m_main_head { height:30px; line-height:30px; background:#f8f8f8; padding:0 10px;}
.ct_m_main_head .down { background:url(../images/down.png) no-repeat 108px center; cursor: pointer;}
.ct_m_main_head .up { background:url(../images/down1.png) no-repeat 108px center; cursor: pointer;}
.ct_m_main_ul li { padding-top:10px; border-bottom:1px dotted #dbdbdb; line-height:23px;}
.ct_m_main_ul_div1 img { display:inline-block; vertical-align:middle;}
.ct_m_main_ul_pv, .ct_m_main_ul_comment { padding:0 25px;}
.ct_m_main_ul_pv { background:url(../images/liulan.png) no-repeat left center;}
.ct_m_main_ul_comment { background:url(../images/pinglun.png) no-repeat left center;}
.ct_m_main_ul_div2 span { display:block;}
.ct_m_main_ul_div1 .ahover { color:#89c935;}

/*帖子详情*/
.ctp_m_content { padding:25px; margin-top:10px; border-radius:5px;}
.ctp_m_head { border-bottom:1px dotted #dbdbdb;}
.ctp_m_icon { width:55px; height:55px;}
.ctp_m_name { font-size:20px; font-weight:600; line-height:25px;}
.ct_m_main_ul_comment1 { background:url(../images/pinglun2.png) no-repeat left 3px;}
.ct_m_main_ul_zan { background:url(../images/dianzan.png) no-repeat left center;}
.ca4 { color:#a4a4a4;}
.comment_content1 img { max-width:600px;}

/*评论*/
.ctp_m_c_left { width:60px;}
.ctp_m_c_left p { overflow:hidden; width:100%; height:20px; line-height:20px;}
.ctp_m_c_right { width:520px; padding:10px; min-height:80px;}
.a_sqhf { top:-30px; right:-1px; line-height:30px; padding:0 10px; background:#fff; border-bottom:0;}
.ctp_m_c_right_hf { width:430px;}
.ctp_m_c_right_bt { border-top:1px dotted #dbdbdb; margin-top:10px; padding-top:10px;}
a.a_hf { background:#f90; color:#fff; line-height:25px; padding:0 10px; border-radius:5px;}
.hf_text { height:140px;}
.hf_submit { background:#f90; color:#fff; line-height:20px; padding:0 6px; border-radius:5px; cursor:pointer;}
.submit_pl { line-height:26px;}

.comment_content2 img { max-width:500px;}

textarea.huifukuang{height: 50px;width: 99%;resize:none;overflow: hidden;+margin-left: -10px;outline: none;}