@charset "utf-8";
/* CSS Document */

body { background:#fff; color:#666; font-size:12px; font-family:微软雅黑, Tahoma, Geneva, sans-serif; text-align:center;}
a { color:#666; outline:none; text-decoration:none;}
a:hover { color:#89c935; text-decoration:underline;}
img { border:none; display:inline-block;}
textarea { resize:none;}
textarea, input { font-size:14px; font-family:inherit;margin: 0;}
input[type=text], input[type=button], input[type=search] { border:0; outline:none; overflow:visible; vertical-align:middle;}
h1 { font-size:30px; font-weight:normal; line-height:50px;}
.container { margin:0 auto; width:990px; text-align:left;}
.w670 { width:670px;}
.cf90 { color:#f90;}
.sqbtn { background:#ccc; color:#fff; line-height:20px; padding:0 10px; border-radius:5px; cursor:pointer;}
.bg8 { background:#89c935;color: #fff;}
.bgf { background:#f90;color: #fff;}
.ca4 { color:#a4a4a4;}
.b { border:1px solid #dbdbdb;}
.bt { border-top:1px solid #dbdbdb;}

/*顶部*/
.top { background:#f5f5f5; border-bottom:1px solid #dbdbdb; line-height:31px; position:fixed; width:100%; z-index:999999; left:0;}
.top_a { color:#f90;} 
.top_a1, .top_a2 { padding-left:25px;}
.top_a1 { background:url(../images/top_back.png) no-repeat 5px center;}
.top_a2 { background: url(../images/star.png) no-repeat 5px center;}
.top_r_list { border:1px solid #f5f5f5; border-bottom:0; width:80px; text-align:center;}
.top_r_list_ul { background:#fff; border:1px solid #dbdbdb; border-top:0; line-height:25px; left:-1px; display:none;}
.top_r_list:hover { border-color:#dbdbdb; background:#fff;}
.top_r_list:hover ul { display:block;}
.top_r_list p { background:url(../images/xia.png) no-repeat 70px center;}

.logo { width:340px;}
.logo_p { letter-spacing:3px;}

.search { margin:35px 0 0 40px;background:#c1c1c1; border-radius:3px; width:435px;}
.search_input1 { background:#fff; color:#c1c1c1; font-size:12px; margin:3px; +margin:2px 3px; padding:6px 0 8px 5px; width:350px;}
.search_input2 { background:url(../images/search.png) no-repeat; background-position:left center; color:#fff; font-size:16px; font-weight:600; line-height:30px; padding-left:20px; vertical-align:middle;}
.order { margin-top:35px;}
.order input { border:1px solid #e6e6e6; padding:0 25px; font-size:14px; color:#fff; line-height:33px; background:#f7ab00; display:block; text-decoration:none}
.order input:hover { background-color:#89c935; color:#fff;}

/*导航*/
.nav .container { border:1px solid #89c935; background:#89c935;}
.nav_ul li { float:left; margin-right:1px; width:92px;}
.nav_ul a { color:#fff; display:block; text-align:center; line-height:43px; font-size:16px; font-weight:600; text-decoration:none;}
.nav_ul a:hover, .nav_ul .ahover { color:#303030; background:#fff;}

/*脚注*/
.ft_about>div { width:100px; margin-right:20px; float:left; display:inline;}
.ft_about p { font-weight:600; border-bottom:1px dotted #6c6c6c; line-height:30px; padding-left:25px; margin-bottom:11px;}
.ft_about .div1 p { padding:0;}
.ft_about img { display:inline; padding-bottom:10px; width:75px; height:75px;}
.ft_about .img1 { margin-top:42px;}
.ft_p1 { background:url(../images/footer-1.png) no-repeat 0;}
.ft_p2 { background:url(../images/footer-2.png) no-repeat 0;}
.ft_p3 { background:url(../images/footer-3.png) no-repeat 0;}
.ft_p4 { background:url(../images/footer-4.png) no-repeat 0;}
.ft_p5 { background:url(../images/footer-5.png) no-repeat 0;}
.ft_about li { padding-left:7px; background:url(../images/footer-li.png) no-repeat 0;}
.ft_about a { display:block; line-height:20px;}
.footer a:hover { color:#999;}
.blogroll { margin:30px 0 17px 0; padding-bottom:10px; font-weight:600; border-bottom:1px solid #dbdbdb;}
.blogroll a { padding:0 5px;}

/*中间主题*/
.main .container { border-bottom:1px solid #dbdbdb; min-height:500px;}

/**回到顶部**/
#go_top{width:56px;height:154px;position:fixed; line-height:20px;display:none;}
#go_top a{
	display: block;
	line-height: 999px;
	overflow: hidden;
	width: 56px;
	height: 56px;
	background-image: url(../images/to-top.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

/**login**/
.login-main-right {position:relative; border:1px solid #ddd; min-width:389px; height:317px; background:#fff; text-align:left;}
.login-main-right .right-nav { overflow:hidden; text-align:center;}
.login-main-right .right-nav li { float:left; display:inline; width:194px; background:#fff; line-height:45px; height:45px; font-size:16px; border-bottom:1px solid #ddd; cursor:pointer;}
.login-main-right .right-nav .li1 { border-right:1px solid #ddd;}
.login-main-right .right-nav .li2 { border-left:1px solid #ddd;}
.login-main-right .right-nav .lihover { color:#89c935; border:0; border-top:3px solid #89c935;}
.login-main-right .fonm-none { display:none;}
.login-main-right .form { margin-top:25px;}
.login-main-right .form p { padding-bottom:20px;}
.login-main-right .form span { display:inline-block;}
.login-main-right .form .span1 { width:90px; text-align:right;}
.login-main-right .form .span2 { color:#ff5114;}
.login-main-right .form input { border:1px solid #ddd; line-height:18px; padding:5px 3px;}
.login-main-right .form .input1 { width:190px;}
.login-main-right .form .input2 { width:80px;}
.login-main-right .form .p1 { overflow:hidden; margin-bottom:20px;}
.login-main-right .form .p1 div { float:left; display:inline; margin-right:10px;}
.login-main-right .form .yzmtp img { width:100px; height:30px;}
.login-main-right .form .gh { line-height:15px; font-size:12px;}
.login-main-right .form .gh span { color:#b1b1b1;}
.login-main-right .form .gh a { display:block; color:#98d04e;}
.login-main-right .form .p2 { font-size:12px;}
.login-main-right .form .p2 input { -webkit-appearance:checkbox; height:auto;}
.login-main-right .form .p2 .a1 { margin-left:10px; color:#b1b1b1;}
.login-main-right .form .go { display:block; width:195px; height:40px; line-height:40px; background:#f5a101; color:#fff; font-size:18px; font-weight:600; text-align:center; margin-left:100px;padding: 0;}
.login-main-right .form .go-hui { background:#ccc; color:#666;}
.login-main-right .form .shouji-p { padding-top:10px; line-height:30px; height:30px; overflow:hidden;}
.login-main-right input.shouji-span { cursor:pointer; background:#9edd4b; color:#fff; height:28px; line-height:28px; padding:0 10px; border:0; font-weight:600;}
.login-main-right input.shouji-hui { background:#ccc; color:#666;}

.login-main-right .form .cuowu {display:none; position:absolute; font-size:10px; color:#ff5114; background:#fce2d9; padding:0 3px;; line-height:15px; width:192px;}
.login-main-right .form .yhmcw { top:103px; left:94px;}
.login-main-right .form .mmcw { top:153px; left:94px;}
.login-main-right .form .yzmcw { top:203px; left:94px;}
.login-main-right .form .sj-yhmcw { top:114px; left:94px;}
.login-main-right .form .sj-mmcw { top:196px; left:94px; width:82px;}
.login-main-right .form .sj-yzm { padding-bottom:10px;}
