@charset "utf-8";
/* CSS Document */
.cateAllTime_keyword { z-index:999;}
.cateAllTime_keyword a { text-decoration:none; padding:5px; display:inline-block;}
.cateAllTime_keyword a:hover, .cateAllTime_keyword a.ahover { background:#89c935; color:#fff;}
a.cateAllTime_my { background:url(../images/my.png) no-repeat 0 center; text-decoration:none;}
.cateAllTime_set { padding:0 12px; height:25px; line-height:20px; background:#f90; color:#fff; border-radius:5px;}
.city_keyword { border:1px solid #dbdbdb; width:300px; background:#eee; z-index:999; left:52px; top:30px; word-wrap:break-word; word-break:break-all;display: none;}

.cateAllTime { overflow:hidden;}
.cateAllTime_ul { width:1050px;}
.cateAllTime_ul li { float:left; display:inline; margin-right:25px; width:315px;}
.cateAllTime_ul_div1 { position:relative; overflow:hidden; height:280px;}
/*.cateAllTime_ul_div1_bg { background:#000; width:100%; height:46px; padding:10px 0; position:absolute; bottom:0; left:0; filter:alpha(opacity=40); opacity:0.4;}*/
.cateAllTime_ul_div1_info { width:100%; position:absolute; bottom:0; left:0; padding:10px 0; color:#fff; background:url(../images/bg.png) repeat-x;}
.cateAllTime_ul_img1 { width:315px; height:280px;}
.cateAllTime_ul_img2 { width:45px; height:45px; border:1px solid #dbdbdb;}
.cateAllTime_ul_div1_info_gz { padding-left:20px; background:url(../images/gz.png) no-repeat 0 center;}
.cateAllTime_ul_div1_info_pl { padding-left:20px; background:url(../images/pl.png) no-repeat 0 center;}
/*.cateAllTime_ul_div1:hover { cursor:pointer;}*/
/*.cateAllTime_ul_div1:hover .cateAllTime_ul_div1_bg, .cateAllTime_ul_div1:hover .cateAllTime_ul_div1_info { visibility:hidden;}*/
.cateAllTime_ul_div2 { height:50px; line-height:50px; font-size:14px; text-align:center;}
.cateAllTime_ul_div2 a { max-width:40%; overflow:hidden; height:50px; display:inline-block; vertical-align:middle;}
.cateAllTime_ul_div2_a1 { color:#06c;}
.cateAllTime_ul_div2_a2 { color:#36f;}
.cateAllTime_ul_div2 a:hover { color:#f90;}
.cateAllTime_ul_img1:hover { position:relative; width:325px; height:290px; left:-5px; top:-5px; z-index:0;}

/*美食每刻餐厅*/
.cATH_m_img1 { width:180px; height:135px;}
.cATH_m_info { width:430px;}
.cATH_m_icon { width:55px; height:55px;}
.cATH_m_left { width:60px;}
.cATH_m_left p { overflow:hidden; width:100%; height:20px; line-height:20px;}
.cATH_m_right { width:400px; padding:10px 40px; margin-right:30px;}
.cATH_m_right_img { width:400px; height:220px;}
.cATH_m_comment { background:url(../images/pinglun2.png) no-repeat left 3px;}
.cATH_m_zan { background:url(../images/dianzan.png) no-repeat left center;}

/*其他菜推荐*/
.cATH_right_ul li { width:140px; margin-top:15px;}
.cATH_right_ul img { width:140px; height:125px;}
/*帖子详情*/
.ctp_m_content { padding:25px; margin-top:10px; border-radius:5px;}
.ctp_m_head { border-bottom:1px dotted #dbdbdb;}
.ctp_m_icon { width:55px; height:55px;}
.ctp_m_name { font-size:20px; font-weight:600; line-height:25px;}
.ct_m_main_ul_comment1 { background:url(../images/pinglun2.png) no-repeat left 3px;}
.ct_m_main_ul_zan { background:url(../images/dianzan.png) no-repeat left center;}
.comment_content1 img { max-width:600px;}
.ctp_m_img1 { width:600px; height:220px;}

/*评论*/
.ctp_m_c_left { width:60px;}
.ctp_m_c_left p { overflow:hidden; width:100%; height:20px; line-height:20px;}
.ctp_m_c_right { width:520px; padding:10px; min-height:80px;}
.a_sqhf { top:-30px; right:-1px; line-height:30px; padding:0 10px; background:#fff; border-bottom:0;}
.ctp_m_c_right_hf { width:430px;}
.ctp_m_c_right_bt { border-top:1px dotted #dbdbdb; margin-top:10px; padding-top:10px;}
a.a_hf { background:#f90; color:#fff; line-height:25px; padding:0 10px; border-radius:5px;}
.hf_text { height:140px;}
.hf_submit { background:#f90; color:#fff; line-height:20px; padding:0 6px; border-radius:5px; cursor:pointer;}
.submit_pl { line-height:26px;}

.comment_content2 img { max-width:500px;}

textarea.huifukuang{height: 50px;width: 99%;resize:none;overflow: hidden;+margin-left: -10px;outline: none;}

/*美食每刻帖子页面右侧*/
.cATP_right { width:310px;}
.cATP_right_rf { background:url(../images/div-bg.jpg) no-repeat center;}

/*他的美食每刻*/
.cATH_right_ul1 { width:340px;}
.cATH_right_ul1 li { width:96px; float:left; display:inline; margin:10px 11px 0 0;}
.cATH_right_ul1 img { width:96px; height:95px;}

/*发布美食*/
.releaseFood_form { padding:30px; background:#f5f5f5;}
.rF_form_left { width:260px; height:245px; border:1px solid #dbdbdb; overflow:hidden;}
.rF_form_left_img, .rF_form_left_div { width:260px; height:245px; left:0; top:0;cursor: pointer;}
.rF_form_right { width:330px; line-height:30px;}
.rF_form_right select { outline:0;}
.w180 { width:180px;}
.w120 {width: 120px;}
input.rF_form_right_text1 { border:1px solid #dbdbdb; width:178px;}
input.rF_form_right_text2 { border:1px solid #dbdbdb; width:328px;}
input.rF_form_right_text3 { border:1px solid #dbdbdb; width:98px;}
.rF_form_right textarea { border:1px solid #dbdbdb; width:328px; height:55px; resize:none; overflow:auto; outline:0;}
.rF_form_right_star { width:100%; height:23px; overflow:hidden;}

.rF_right_tip { background:#f5f5f5;}
select, textarea { outline:0;}

/*添加餐厅*/
.add_title { background:#f5f5f5; line-height:40px;}
.cATHAR_left input[type=text], .cATHAR_left textarea { border:1px solid #dbdbdb; padding:5px; color:#666;}
.cATHAR_left span { display:inline-block;}
.cATHAR_left select { outline:0;}
.cATHAR_left_text1 { width:550px;}
.cATHAR_left .tag_serve { width:80px; height:30px; line-height:30px; text-align:center; border:1px solid #f93; cursor:pointer; margin-bottom:5px;}
.cATHAR_left .tag_active { background:url(../images/add_ct.png) no-repeat right bottom;}
.cATHAR_left textarea { width:550px; height:80px; resize:none; overflow:auto; outline:0; margin-left:3px;}